*{
    /* background-color: lightblue; */
    text-shadow:  0.1em 0.1em 0.2em gray; 
}

h1{
  color: blue;
  font-family: 'Times New Roman', Times, serif;
  text-align: center; 
}


body{
  background: url(../image/hero-area.jpg) no-repeat;
  background-size: cover;
  /* opacity: 0.9; */
}

.table{
  box-shadow: 0 10px 30px gray; 
  border-radius: 8px; 
  background-color: lightblue;
  opacity: 0.9;
}


